<div class="card-body">
    <div class="row pb-4">
        <div class="col-xxl-6">
            <p class="fw-bolder fs-4">Giới thiệu và thể lệ</p>
            <div>
                <div class="mb-3 fw-medium">
                    "KẾT NỐI LAN TOẢ - TRIỆU QUÀ TRAO TAY"
                </div>
                <div>
                    “Kết nối lan toả - Triệu quà trao tay” – Chương trình dành cho các nhà sáng tạo nội dung bùng nổ
                    cùng VPS! Kết nối những câu chuyện để truyền cảm hứng đầu tư vững bền và kiến tạo một tương lai tài
                    chính phồn vinh.
                </div>
                <div>
                    Tham gia ngay để “Post” của bạn trở nên VIRAL và nhận THƯỞNG TIỀN MẶT theo tuần. Kết nối lan toả
                    cùng VPS nào!
                </div>
                <div>
                    ⏰ Chương trình diễn ra từ ngày 03/03/2025 đến hết ngày 31/08/2025.
                </div>
                <div>
                    💰 NHẬN THƯỞNG theo TUẦN với hơn 40 GIẢI THƯỞNG TIỀN MẶT mỗi tuần trao ngay!
                </div>
            </div>
            <div class="fw-bolder fs-4 mt-6 mb-2">Lưu ý:</div>
            <ul class="">
                <li>
                    Mọi thông tin sẽ được bảo mật và chỉ được sử dụng trong phạm vi chương trình "Kết nối lan toả -
                    Triệu quà trao tay".
                </li>
                <li>
                    <div>
                        Cách thức tham gia chương trình vô cùng đơn giản:
                    </div>
                    <div>
                        - Bước 1: Dựa vào chủ đề hàng tuần VPS đưa ra, thực hiện đăng tải nội dung bài viết theo nội dung
                        sẵn do VPS cung cấp hoặc sáng tạo nội dung theo chủ đề để đăng tải lên Facebook cá nhân ở chế độ
                        công khai kèm hashtag theo quy định của chương trình và phải công khai số lượng reaction.
                    </div>
                    <div>
                        📌 Link kho content: <a target="_blank"
                                               href="https://docs.google.com/spreadsheets/d/1iMtkWCyyQd-bx__7rbwWZWi8vrx7RTtaTQLTI6mYkUU/edit?gid=0#gid=0">https://docs.google.com/spreadsheets/d/1iMtkWCyyQd-bx__7rbwWZWi8vrx7RTtaTQLTI6mYkUU/edit?gid=0#gid=0</a>
                    </div>
                    <div>
                        - Bước 2: Đăng ký link bài viết lên trang Landing page để bắt đầu tham gia chương trình.

                    </div>
                </li>
                <li>
                    VPS sẽ thông báo danh sách Publishers trúng thưởng của mỗi đợt xét thưởng tuần trên trang
                    Facebook
                    "Công ty Cổ phần Chứng khoán VPS - VPS Securities" trong vòng 03 ngày làm việc liền kề sau mỗi
                    đợt
                    xét thưởng tuần.
                </li>
                <li>
                    Giải thưởng sẽ được trao cho Publishers theo hình thức chuyển khoản trực tiếp vào tài khoản chứng
                    khoán VPS của Publishers trong vòng 10 ngày làm việc kể từ ngày công bố trúng thưởng.
                </li>
                <div>
                    <a href="https://drive.google.com/file/d/1Ut1S5kjwIP-M7Hioqqoff9xLWHM7HSkX/view?usp=sharing" target="_blank">Chi tiết thể lệ.</a>
                </div>
            </ul>
        </div>
        <div class="col-xxl-6">
            <div class="box step">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="symbol-45px me-4">
                            <img src="./assets/media/hero/frame.png" alt="">
                        </div>
                        <div class="d-flex justify-content-start flex-column">
                            <span href="#" class="text-gray-800 fw-bolder text-hover-primary fs-6">Đăng bài dự thi với 2 bước đơn giản:</span>
                            <span
                                class="text-muted text-muted d-block fs-7">Bạn có thể tham gia với nhiều bài dự thi </span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-xxl-6">
                            <div class="card">
                                <div class="card-body position-relative pt-14 px-5">
                                    <span class="badge badge-light fw-bolder fs0 badge-custom">Bước 1:</span>
                                    <p>Chia sẻ bài viết lên Facebook kèm hashtag cá nhân</p>
                                    <a class="btn btn-primary w-100 cursor-pointer" (click)="detectDialog()">
                                        <div class="me-6">
                                            <i class="fa-solid fa-share me-1 fs-5"></i>
                                            <span class="ms-2 fw-semibold">Đăng bài dự thi</span></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-6 mt-xl-0 mt-sm-4">
                            <div class="card">
                                <div class="card-body position-relative pt-14 px-5">
                                    <span class="badge badge-light fw-bolder fs0 badge-custom">Bước 2:</span>
                                    <p>Sao chép link bài đăng và gửi lên chương trình để ghi nhận lượt tương tác và chia
                                        sẻ bài đăng.</p>
                                    <a class="btn btn-primary w-100 cursor-pointer" (click)="openDialogSendPost()">
                                        <div class="me-6">
                                            <i class="fa-solid fa-link me-1 fs-5"></i>
                                            <span class="ms-2 fw-semibold">Gửi bài đã đăng</span></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4" *ngIf="isPost">
                        <div>
                            <span class="text-primary fs-6 fw-bold ps-4 cursor-pointer"
                                  (click)="openDialogPostMe()">Bạn có {{ this.totalPost }} bài đăng</span>
                            <i class="fa fa-arrow-right text-primary ms-2"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
