<!-- begin::Row -->
<div class="row">
    <div class="col-xxl-12">
        <app-hero class="card card-xxl-stretch mb-xl-3"></app-hero>
    </div>
</div>
<!-- end::Row -->
<div class="row mt-xl-0 mt-sm-4">
    <div class="col-xxl-12">
        <div class="card card-xxl-stretch mb-xl-3">
            <div class="card-body">
                <div class="row pb-4">
                    <div class="col-xxl-6">
                        <p class="fw-bolder fs-4">Giới thiệu và thể lệ</p>
                        <div>
                            <div class="mb-1 fw-medium">
                                "KẾT NỐI LAN TOẢ - TRIỆU QUÀ TRAO TAY"
                            </div>
                            <div>
                                “Kết nối lan tỏa - Triệu quà trao tay” là một chương trình dành cho những ai đam mê sáng tạo
                                nội dung và mong muốn lan tỏa những câu chuyện truyền cảm hứng về đầu tư tài chính bền vững
                                cùng VPS
                            </div>
                            <div>
                                Hãy chia sẻ những góc nhìn, trải nghiệm cá nhân của bạn để góp phần xây dựng một cộng đồng
                                đầu tư vững mạnh và hướng tới một tương lai tài chính tốt đẹp hơn!
                            </div>
                            <div>
                                ⏰ Thời gian chương trình: Từ 03/03/2025 đến 31/08/2025
                            </div>
                        </div>
                        <div class="mb-1 fw-medium mt-4">
                            "CÁCH THỨC THAM GIA"
                        </div>
                        <div>
                            🔹 Bước 1: Mỗi tuần, VPS sẽ gợi ý chủ đề thảo luận và cung cấp nguồn nội dung tham khảo để bạn dễ dàng sáng tạo.
                            <br>
                            🔹 Bước 2: Bạn có thể lựa chọn tham khảo nội dung có sẵn hoặc tự do sáng tạo bài viết của riêng mình theo chủ đề.
                            <br>
                            🔹 Bước 3: Đăng tải bài viết trên Facebook cá nhân ở chế độ công khai kèm hashtag chương trình.
                        </div>
                        <div class="mb-1 mt-4 fw-medium">
                            "LƯU Ý:"
                        </div>
                        <div>
                            🔹 Chương trình không mang tính thương mại và không ràng buộc bất kỳ nghĩa vụ nào về việc chia sẻ hay nhận thưởng.
                            <br>
                            🔹 Người tham gia có toàn quyền chủ động trong việc sáng tạo nội dung và chia sẻ trên nền tảng cá nhân.
                            <br>
                            🔹 Bằng việc tham gia, bạn đồng ý cho VPS có thể chia sẻ lại bài viết của bạn trên các kênh truyền thông chính thức (nếu có sự đồng thuận từ bạn).
                        </div>
                        <div>
                            📢 Cùng nhau kết nối và lan tỏa những giá trị đầu tư bền vững cùng VPS!
                        </div>
                    </div>
                    <div class="col-xxl-6">
                        <div class="box step">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="symbol-45px me-4">
                                        <img src="./assets/media/hero/frame.png" alt="">
                                    </div>
                                    <div class="d-flex justify-content-start flex-column">
                                        <span href="#" class="text-gray-800 fw-bolder text-hover-primary fs-6">Đăng bài dự thi với 2 bước đơn giản:</span>
                                        <span
                                            class="text-muted text-muted d-block fs-7">Bạn có thể tham gia với nhiều bài dự thi </span>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="card-body position-relative pt-14 px-5">
                                                <span class="badge badge-light fw-bolder fs0 badge-custom">Bước 1:</span>
                                                <p>Chia sẻ bài viết lên Facebook kèm hashtag cá nhân</p>
                                                <a class="btn btn-primary w-100 cursor-pointer">
                                                    <div class="me-6">
                                                        <i class="fa-solid fa-share me-1 fs-5"></i>
                                                        <span class="ms-2 fw-semibold">Đăng bài dự thi</span></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-6 mt-xl-0 mt-sm-4">
                                        <div class="card">
                                            <div class="card-body position-relative pt-14 px-5">
                                                <span class="badge badge-light fw-bolder fs0 badge-custom">Bước 2:</span>
                                                <p>Sao chép link bài đăng và gửi lên chương trình để ghi nhận lượt tương tác
                                                    và chia
                                                    sẻ bài đăng.</p>
                                                <a class="btn btn-primary w-100 cursor-pointer">
                                                    <div class="me-6">
                                                        <i class="fa-solid fa-link me-1 fs-5"></i>
                                                        <span class="ms-2 fw-semibold">Gửi bài đã đăng</span></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-xxl-12 mt-xl-0 mt-sm-4">
        <app-top-creator class="card card-xxl-stretch mb-xl-3"></app-top-creator>
    </div>
    <div class="col-xxl-12 mt-xl-0 mt-sm-4">
        <app-top-posts class="card card-xxl-stretch mb-xl-3"></app-top-posts>
    </div>
</div>

