<mat-dialog-content>
    <div class="card-header mb-4">
        <div class="d-flex justify-content-between">
            <div class="fw-medium">
                Giới thiệu & thể lệ
            </div>
            <span matDialogClose class="cursor-pointer">
                <i class="fa-solid fa-close fs-1"></i>
            </span>
        </div>
    </div>
    <div class="separator border-gray-200"></div>
    <div class="card-body my-3">
        <div>
            <strong>Giới thiệu:</strong>
        </div>
        <div>
            <ul class="fs-7">
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet autem distinctio et facere, inventore ipsa ipsam iste molestiae mollitia nobis officiis placeat porro quae quas soluta tempora ullam, veritatis!
                </li>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet autem distinctio et facere, inventore ipsa ipsam iste molestiae mollitia nobis officiis placeat porro quae quas soluta tempora ullam, veritatis!
                </li>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet autem distinctio et facere, inventore ipsa ipsam iste molestiae mollitia nobis officiis placeat porro quae quas soluta tempora ullam, veritatis!
                </li>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet autem distinctio et facere, inventore ipsa ipsam iste molestiae mollitia nobis officiis placeat porro quae quas soluta tempora ullam, veritatis!
                </li>
            </ul>
        </div>
    </div>
    <div class="card-body my-3">
        <div>
            <strong>Thể lệ:</strong>
        </div>
        <div>
            <ul class="fs-7">
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet autem distinctio et facere, inventore ipsa ipsam iste molestiae mollitia nobis officiis placeat porro quae quas soluta tempora ullam, veritatis!
                </li>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet autem distinctio et facere, inventore ipsa ipsam iste molestiae mollitia nobis officiis placeat porro quae quas soluta tempora ullam, veritatis!
                </li>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet autem distinctio et facere, inventore ipsa ipsam iste molestiae mollitia nobis officiis placeat porro quae quas soluta tempora ullam, veritatis!
                </li>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet autem distinctio et facere, inventore ipsa ipsam iste molestiae mollitia nobis officiis placeat porro quae quas soluta tempora ullam, veritatis!
                </li>
            </ul>
        </div>
    </div>
</mat-dialog-content>
