<mat-dialog-content>
    <div class="card-header mb-4">
        <div class="d-flex justify-content-between">
            <div class="fw-medium">
                Đăng nhập để post bài dự thi chương trình
            </div>
            <span matDialogClose class="cursor-pointer">
                <i class="fa-solid fa-close fs-1"></i>
            </span>
        </div>
        <div class="text-primary">
            "Kết nối lan tỏa - Triệu quà trao tay"
        </div>
    </div>
    <div class="separator border-gray-200"></div>
    <div class="card-body mt-6">
        <a class="btn btn-facebook w-100 navi-link cursor-pointer" (click)="loginFacebook()" href="javascript:void(0)">
            <div class="me-6">
                <img src="./assets/media/icons/fb/logo.png" alt="">
                <span class="ms-2 fw-semibold">Đăng nhập bằng facebook</span>
            </div>
        </a>
    </div>
</mat-dialog-content>
