<!-- begin::Row -->
<div class="row">
  <div class="col-xxl-12">
    <app-hero class="card card-xxl-stretch mb-xl-3"></app-hero>
  </div>
</div>
<!-- end::Row -->
<div class="row mt-xl-0 mt-sm-4">
    <div class="col-xxl-12">
        <app-rules class="card card-xxl-stretch mb-xl-3"></app-rules>
    </div>
    <div class="col-xxl-12 mt-xl-0 mt-sm-4">
        <app-top-creator class="card card-xxl-stretch mb-xl-3"></app-top-creator>
    </div>
    <div class="col-xxl-12 mt-xl-0 mt-sm-4">
        <app-top-posts class="card card-xxl-stretch mb-xl-3"></app-top-posts>
    </div>
<!--    <button class="btn btn-success" (click)="openDialogFinishLogin()">assf</button>-->
</div>

